<meta charset="utf-8">
<meta name="verifyownership" content="737abc342dbb7e4b8ca880db5f37006d"/>
<meta name="description" content="<?php echo(z('描述')); ?>"/>
<meta name="keywords" content="<?php echo(z('关键词')); ?>"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<link rel="stylesheet" href="<?php echo(getCss('style')); ?>">
<link rel="stylesheet" href="<?php echo(getCss('font-awesome.min')); ?>">

<script src="<?php echo(getJs('jquery.min')); ?>"></script>
<script src="<?php echo(getJs('jquery.easing.min')); ?>"></script>
<script src="<?php echo(getJs('scripts.min')); ?>"></script>

<link rel="shortcut icon" href="<?php echo(getImg('favicon')); ?>">
<link rel="apple-touch-icon" href="<?php echo(getImg('apple-touch-icon')); ?>">
<link rel="apple-touch-icon" sizes="72x72"
      href="<?php echo(getImg('apple-touch-icon-72x72')); ?>">
<link rel="apple-touch-icon" sizes="114x114"
      href="<?php echo(getImg('apple-touch-icon-114x114')); ?>">

